.croppedImage {
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
.form-control:focus,
.form-select:focus,
select:focus,
.gold-glow:focus,
.uneditable-input:focus {
    border-color: #e1cbad !important;
    box-shadow: 0 0px 2px #e1cbad inset, 0 0 2px #e1cbad !important;
    outline: 0 none;
}

.btn-outline-light:hover,
.btn-outline-light:visited,
.btn-outline-light:focus {
    background-color: #b84 !important;
    border-color: #b84 !important;
    color: lightyellow !important;
}


.pagination .active span {
    background-color: #b84 !important;
    border-color: #b84 !important;
    color: #ffffff !important;
}

.pagination span:hover {
    background-color: #B82 !important;
    border-color: #b82 !important;
    color: #ffffff !important;
    cursor: pointer;
}

html {
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    color: #fff;
    background-color: #b84;
    border-color: #fff;
}

.btn.profile-btn {
    background-color: #f4f4f4;
    color: black;
    border-color: #dfdfdf;
}

.btn.profile-btn:hover {
    background-color: #f7f7f7;
    color: black;
    border-color: #cecece;
}

.btn.option-btn {
    background-color: white;
    color: black;
}

.btn.option-btn:hover {
    background-color: #efefef;
    color: black;
}

.footerWrap {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.mh-profile-card {
    min-height: calc(100vh - 175px);
}

.mh-home-card {
    min-height: calc(100vh - 190px);
}

.settings-btn {
    border: 0 !important;
    min-width: 100px;
    color: gray !important;
    background-color: #f4f4f4 !important;
}

.settings-btn:hover,
.settings-btn:focus,
.settings-btn:visited {
    border: 0 !important;
    color: black !important;
    background-color: #f4f4f4 !important;
}

.modal-open {
    overflow: visible;
}

.modal-open,
.modal-open .fixed-top {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}
